<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">

			<div class="card-body">

				<div class="title">
					<h2> Gestionar Cursos </h2>
					<a href="/courses/new" class="btn btn-primary"> Nuevo Curso </a>
					<hr class="my-20">
				</div>

				<form action="/courses/search" method="GET">
					<div class="form-row align-items-center">
					
						<div class="col-auto">
							<label class="sr-only" for="filterName">Curso a Buscar </label> 
							<select id="filterName" name="filterName">
							<option th:each="course : ${coursesToSearch}" th:text="${course.name}" th:value="${course.name}"></option>
							</select>						
						</div>	
									
						<div class="col-auto">
							<button type="submit" class="btn btn-primary">Buscar</button>
						</div>
					</div>									                  
				</form>		
				<h2>     </h2>											

	<div class ="table-responsive">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Profesor</th>
							<th>Dia</th>
							<th>Hora Inicial</th>
							<th>Hora Final</th>
							<th>Vacantes</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="course : ${courses}">

							<td th:text="${course.id}">MatriculaTF</td>
							<td th:text="${course.name}">MatriculaTF</td>
							<td th:text="${course.professor.name +' '+ course.professor.lastName}">MatriculaTF</td>
							<td th:text="${course.day}">MatriculaTF</td>
							<td th:text="${course.startTime}">MatriculaTF</td>
							<td th:text="${course.endTime}">MatriculaTF</td>
							<td th:text="${course.amount}">MatriculaTF</td>
							<td><a th:href="@{'/courses/edit/' + ${course.id}}"
								class="btn btn-warning">Modificar</a></td>
							<td><a th:href="@{'/courses/delete/' + ${course.id}}"
								class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>

	</div>
	
</body>
</html>