<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343B43;">
  <a class="navbar-brand" href="/dashboard/start">Course</a>

<style>
  a {color: #f00;}
  a:hover {color: #0f0;}
</style>
  <button            
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
      
        <span class="sr-only">(current)</span>
        	
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" >
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/professors/list}" >Gestion Profesores</a>
        </li>
      
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/courses/list}" >Gestion Cursos</a>
        </li>
      
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/students/list}">Gestion Alumnos</a>
        </li>
        
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/matriculas/list}">Reporte Matricula</a>
        </li>
      
        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/studentCourses}">Situacion Academica</a>
        </li>
      
        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
        <a class="nav-link" sec:authorize=isAuthenticated() th:href="@{/courses/listCoursesAvailables}">Matricula</a>
        </li>
      
        <li class="nav-item">
        <a th:href="@{/logout}" class="nav-link" sec:authorize="isAuthenticated()"> Cerrar Sesion</a>				
	    </li>
    </ul>
  </div>
  
  <div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
  <div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
  <div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
</nav>