<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">

			<div class="card-header">Mis Cursos</div>
			<div class="card-body">

				<div class="title">
							<h2> Cursos Matriculados </h2>
							
							<h6>__________________________________________________________________</h6>
						</div>

									<form action="/studentCourses/search" method="GET">
								<div class="form-row align-items-center">
									<label for="course">Semestre a Buscar</label> 
								<select id="semester"
									name="semester">
									<option value="201601">201601</option>
									<option value="201602">201602</option>
									<option value="201701">201701</option>
									<option value="201702">201702</option>
									<option value="201801">201801</option>
									<option value="201802">201802</option>
									<option value="201901">201901</option>
									<option value="201902">201902</option>
									<option value="202001">202001</option>
									<option value="202002">202002</option>
		
								</select>											
								<div class="col-auto">
									<button type="submit" onclick="getData()" class="btn btn-primary">Buscar</button>
								</div>
								</div>
							</form>			

	<div class ="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Semestre</th>
							<th>Curso</th>
							<th>Profesor</th>
							<th>Dia</th>
							<th>Hora Inicial</th>
							<th>Hora Final</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="studentCourse : ${studentCourses}">

							<td th:text="${studentCourse.enrollment.semester}">MatriculaTF</td>
							<td th:text="${studentCourse.course.name}">MatriculaTF</td>
							<td th:text="${studentCourse.course.professor.name}">MatriculaTF</td>
							<td th:text="${studentCourse.course.day}">MatriculaTF</td>
							<td th:text="${studentCourse.course.startTime}">MatriculaTF</td>
							<td th:text="${studentCourse.course.endTime}">MatriculaTF</td>
							<td><a th:href="@{'/studentCourses/delete/' + ${studentCourse.id}}"
								class="btn btn-warning">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>

	</div>
	
</body>
</html>