<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">

			<div class="card-body">

				<div class="title">
					<h2> Profesores </h2>
					<a href="/professors/new" class="btn btn-primary"> Nuevo Profesor </a>
					<hr class="my-20">
				</div>
				
		   <form action="/professors/search" method="GET">
	        <div class="form-row align-items-center">
	      
	           <div class="col-auto">
	              <label class="sr-only" for="filterId">Buscar Profesor</label>
	              <input id="filterId" type="text" class="form control" name="filterId" placeholder="Buscar por codigo">
	           </div>
								
	           <div class="col-auto">
	              <button type="submit" class="btn btn-primary">Buscar</button>
	           </div>
	        </div>
	      </form>	
	      
	      	<h2>     </h2>

	 <div class ="table-responsive">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="professor : ${professors}">

							<td th:text="${professor.id}">MatriculaTF</td>
							<td th:text="${professor.name}">MatriculaTF</td>
							<td th:text="${professor.lastName}">MatriculaTF</td>
							<td><a th:href="@{'/professors/edit/' + ${professor.id}}"
								class="btn btn-warning">Modificar</a></td>
							<td><a th:href="@{'/professors/delete/' + ${professor.id}}"
								class="btn btn-danger">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>

	</div>
	
</body>
</html>