<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Actualizar Alumno</div>
			<div class="card-body">
			
			<form th:object="${student}"  th:action="@{/students/update/{id}(id=${student.id})}" 
					th:method="post">
					
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>
						
					<div class="form-group">
						<label for="name">Nombres</label> <input type="text"
							class="form-control" id="name" aria-describedby="name"
							th:field="*{name}"/>
					</div>
									
					<div class="form-group">
						<label for="lastName">Apellidos</label> <input type="text"
							class="form-control" id="lastName" aria-describedby="lastName"
							th:field="*{lastName}"/>
					</div>
					
					<div class="form-group">
								<label for="career">Carrera</label> 
								<select id="career" name="career" th:field="*{career}">
								    <option value="Administracion">Administracion y Finanzas</option>
									<option value="Ingenieria Civil">Ciencias de la Computacion</option>
									<option value="Ingenieria Civil">Comunicacion y Fotografia</option>
									<option value="Ingenieria Civil">Derecho</option>
									<option value="Economia">Economia</option>
									<option value="Ingenieria Civil">Ingenieria Civil</option>									
									<option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
									<option value="Ingenieria de Software">Ingenieria de Software</option>																																																													    
								    <option value="Ingenieria Civil">Ingenieria Electronica</option>
								    <option value="Ingenieria Industrial">Ingenieria Industrial</option>
								    <option value="Ingenieria Industrial">Nutricion y Dietica</option>
								    <option value="Ingenieria Industrial">Odontologia</option>
								    <option value="Ingenieria Industrial">Psicologia</option>
								    <option value="Ingenieria Industrial">Traduccion e interpretacion</option>	
								</select>
					</div>
					
					<div class="form-group">
								<label for="semester">Semestre</label> <select id="semester"
									name="semester" th:field="*{semester}">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
		
								</select>
					</div>
										
					<button type="submit" class="btn btn-success">Confirmar</button>
					<a th:href="@{/students/list}" class="btn btn-primary">Regresar</a>
					
				</form>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>