<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

<th:block th:include="fragments/navbar"></th:block>
 <div class="container">
  <div class="card" style="max-width: 100%;">
   <div class="card-body">
       
       <div class="title">
		  <h2> Matriculas </h2>
		  <hr class="my-20">
	   </div>
	   
	   <form action="/matriculas/searchSemestreAll" method="GET">
			<div class="form-row align-items-center">
								
				<div class="col-auto">
					<Label class="sr-only" for="estado">Datos a completar</Label> 
					<input id="estado" type="text" class="form-control form-control-lg" 
						   name="estado" placeholder="Estado a buscar">
				</div>	
				    
			    <div class="col-auto">
					<Label class="sr-only" for="semestre">Datos a completar</Label> 
					<input id="semestre" type="text" class="form-control form-control-lg" 
						   name="semestre" placeholder="Semestre a buscar">
				</div>
					    						
			    <div class="col-auto">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</div>
						
			</div>			
		 </form>	
		 
         <hr class="my-20">
         
         <form action="/matriculas/searchStudent" method="GET">
	        <div class="form-row align-items-center">
	        
	          <div class="col-auto">
	           <label class="sr-only" for="filterId">Buscar Alumno</label>
	           <input id="filterId" type="text" class="form-control form-control-lg" name="filterId" placeholder="Buscar por ID Alumno">
              </div>
	        
	        <div class="col-auto">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            
           </div>
	     </form>

       <h2>     </h2>	
       <div class ="table-responsive">
		<table class="table table-striped">
		
			 <thead class="thead-dark">
				<tr>
					<th>ID Alumno</th>
					<th>Alumno</th>
					<th>Semestre</th>
					<th>Estado</th>
					<th>Carrera</th>
					<th>Numero Cursos</th>
					<th></th>
				</tr>
			</thead>
					
					<tbody>
						<tr th:each="matricula : ${matriculas}">
							<td th:text="${matricula.student.id}">MatriculaTF</td>
							<td th:text="${matricula.student.name +' '+ matricula.student.lastName}">MatriculaTF</td>
							<td th:text="${matricula.enrollment.semester}">MatriculaTF</td>
							<td th:text="${matricula.estado}">MatriculaTF</td>
							<td th:text="${matricula.student.career}">MatriculaTF</td>
							<td th:text="${matricula.ncursos}">MatriculaTF</td>					
						</tr>
					</tbody>
		  </table>
	     </div>









   </div>
  </div>
 </div>
</body>
</html>